<h1>Client details</h1>
<dl>
  <dt>ID</dt>
  <dd>urn:epc:id:gdti:457337761.001.1</dd>
</dl>
<img src="img/history.png" alt="Show revision history" class="imageButton">
<img src="img/edit.png" alt="Edit" class="imageButton">
<h2>Briques et Mortiers, 134 LLC</h2>
<div>
  <input type="text" value="<%= data["clientFullName"] %>"></input>
  <br>
  <input type="text" value="<%= data["clientFullNameReading"] %>"></input>
  <br>
  <input type="text" value="<%= data["clientName"] %>"></input>
  <br>
  <input type="text" value="<%= data["note"] %>"></input>
  <br>
</div>
<div>
  <input type="text" value="<%= data["affiriation"] %>"></input>
  <input type="text" value="<%= data["position"] %>"></input>
  <input type="text" value="<%= data["name"] %>"></input>
  <img src="img/messages.png" alt="Show relevant messages" class="imageButton">
  <img src="img/files.png" alt="Download files" class="imageButton">
  <br>
  <input type="text" value="<%= data["telephone"] %>"></input>
  <input type="text" value="<%= data["loginMail"] %>"></input>
  <br>
  <input type="text" value="<%= data["note"] %>"></input>
  コピーして作成
  <img src="img/add.png" alt="Add a new branch" class="imageButton">
  <br>
</div>
<div>
  <input type="text" value="<%= data["postalcode"] %>"></input>
  <input type="text" value="<%= data["address"] %>"></input>
  <input type="text" value="<%= data["building"] %>"></input>
  <br>
  <input type="text" value="<%= data["refundBank"] %>"></input>
  <input type="text" value="<%= data["refundBankAccount"] %>"></input>
  <input type="text" value="<%= data["refundBankAccountOwner"] %>"></input>
  <img src="img/bill.png" alt="Bill" class="imageButton">
  <br>
  <input type="text" value="<%= data["note"] %>"></input>
  <img src="img/add.png" alt="Add a new branch" class="imageButton">
  <br>
</div>
