<!-- Milestone Completion panel -->
<h1>Milestone Completion. '<%= milestone %>' of '<%= branchId %>' </h1>
<p id="milestoneCompletion_errorMsg"></p>
<% for(var i=0;i<data.length;i++){ %>
	<div class="stepCompletion">
		<%= msg[data[i]["className"]+"."+data[i]["methodName"]] %>
  		<% if(data[i]["applicable"]){ %>
	  		<button class = "stepCompletionApplicable"  onclick="completeMilestoneStep('<%= data[i]["className"]%>','<%= data[i]["methodName"]%>',<%= caseId %>);">
  				<%= data[i]["methodName"]%>
  			</button>
  		<% }else{ %>
			<button class = "stepCompletionUnapplicable"><%= data[i]["methodName"]%></button>
		<% } %>
	</div>
<% } %>
<button class="cancelButton" onclick="closeMilestoneCompletionPanel();">Close</button>
